<div class="row g-3">
        <div class="col-md-6">
            <label for="forma_pago" class="form-label fw-semibold">Forma de pago <span class="text-danger">*</span></label>
            <select name="forma_pago" id="forma_pago" class="form-select" required>
                <option value="contado">Contado</option>
                <option value="credito">Crédito</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="comprobante_tipo_codigo" class="form-label fw-semibold">Comprobante <span class="text-danger">*</span></label>
            <select name="comprobante_tipo_codigo" id="comprobante_tipo_codigo" class="form-select" required>

            </select>
        </div>

        <div class="col-md-6">
            <label for="serie" class="form-label fw-semibold">Serie <span class="text-danger">*</span></label>
            <input type="text" id="serie" name="serie" class="form-control" required>
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-6">
            <label for="correlativo" class="form-label fw-semibold">Correlativo <span class="text-danger">*</span></label>
            <input type="text" id="correlativo" name="correlativo" class="form-control" required>
            <div class="invalid-feedback"></div>
        </div>
</div>